---
import Button from "components/Button/Button.astro";

export interface Props {
  name: string;
  desc: string;
  imgSrc: string;
  github: string;
  website: string;
  href: string;
}

const { name, desc, imgSrc, github, website, href } = Astro.props as Props;
---

<div
  class="flex gap-[25px] max-w-[1300px] w-full min-h-fit border border-solid border-white p-4 md:p-6"
>
  <div class="flex flex-col max-w-[760px] w-full min-h-[290px]">
    <h3 class="font-medium text-2xl lg:text-3xl">{name}</h3>
    <p class="text-base md:text-lg lg:text-xl my-6 ml-1">{desc}</p>
    <div
      class="flex flex-col sm:flex-row gap-4 justify-between max-w-full mt-auto"
    >
      <Button text="More info" href={href} />
      <div class="flex gap-4">
        <Button text="Visit site" href={website} target="_blank" />
        <Button text="Github" href={github} target="_blank" />
      </div>
    </div>
  </div>
  <div
    class="self-center min-w-[470px] h-fit border border-solid border-white hidden lg:block"
  >
    <img
      src={imgSrc}
      alt={`${name} example image`}
      class="w-auto h-[290px] object-cover"
    />
  </div>
</div>
