---
export interface Props {
  heading: string;
  text: string;
  href?: string;
}

const { heading, text, href } = Astro.props as Props;
---

<div class="text-lg md:text-xl lg:text-2xl">
  {href ? (
    <span>
      {heading}
    </span>
    <a href={href} target="_blank" class="underline">
      {text}
    </a>
  ) : (
    <span>
      {heading} {text}
    </span>
  )}
</div>
